<app-header></app-header>

<main>
	<div class="content">
		<div class="inner-content">
			<div class="messages" #messages>

			</div>

			<router-outlet></router-outlet>
		</div>
	</div>

	<div class="footer-container">
		<div class="form">
			<div class="input">
				<div class="wrap">
					<textarea
						id="chat-input"
						rows="3"
						placeholder="Your message..."
					></textarea>
				</div>
			</div>
			<div class="send">
				<button
					type="button"
					(click)="eventSend($event)"
				>
					SEND
				</button>
			</div>
		</div>

		<app-footer></app-footer>
	</div>
</main>
